
h1 {
    color: #5E17EB;
}

h2 {
    color: #5E17EB;
}

h3 {
    color: #5E17EB;
}

h4 {
    color: #5E17EB;
}

h5 {
    color: #5E17EB;
}

:root {
    --bs-border-width: 0;
    --bs-link-hover-color: white;
    --bs-body-font-family:  Arial, Helvetica, sans-serif;
}

.nav-link{
    color: #5E17EB;
    }

.navHeader {
    background-color: #e1bbf0;
    border-radius: 25px;
}

.card-title {
    color: #5E17EB;
}

.imgIcon {
    border: 3px dotted #e1bbf0;
    border-radius: 15px;
    width: 275px; 
}

.list-group-item {
    border: 1px solid #5E17EB;
}

.card:hover {
    scale:1.04;
}

.card {
    transition: 0.3s;
}

.projectCard {
    border: 1px solid #5E17EB;
    box-shadow: 100px 100px 100px red;
    margin-bottom: 2rem;
}

.className {
    color: #382c3d;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#creatorThumbnail {
    border-radius: 25px;
    border: 2px solid #5E17EB;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#externalLinks {
    margin-top: 15px;
    border-radius: 25px;
    border: 2px solid #5E17EB;
    padding: 20px;
    width: 200px;
    height: 500px;
}

#creator-list {
    border: 1px solid #5E17EB;
}

.creatorListItem:hover {
    scale: 1.01 1;
}

.creatorListItem {
    transition: 0.2s;
    border: 1px solid #5E17EB;
}